Package: com.mpg13.FlashBack
Name: FlashBack
Depends: mobilesubstrate,com.chpwn.iconsupport,ldid
Conflicts: com.mpg13.FlashBackfree
Version: 4.0.1
Architecture: iphoneos-arm
Description: Changing the way we do setups.
Maintainer: MPG13 <mpg13@micahpgomez.dev>
Author: MPG13 <mpg13@micahpgomez.dev>
Section: Tweaks
